.point-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.point-card  {
  width: 100%;
  max-width: 350px;
  margin: 1rem;
  border: 1px solid lightGrey;
  padding: 1rem;
}

.point-card-image {
  display: block;
  margin: 0 auto 1rem;
}

.point-card-caption {
  margin-bottom: 0px;
}

.point-card-title {
  font-weight: 500;
}
